* {
    font-size: 14px;
    line-height: 16px;
    /*outline: red 1px solid;*/
}

input {
    outline: none;
}

ul {
    margin: revert;
    list-style: none;
    padding: 0;
}

.input-search::-webkit-input-placeholder {
    color: #B0B0B0;
}

#app {
    background: #f5f5f5;
    min-height: 100vh;
    min-width: 748px;
}

.table {
    min-width: 728px;
}

.table thead th {
    border-top: none;
    border-bottom: none;
}

.icon__contact {
    transition: 0.34s linear;
    position: relative;
}

.icon-add-client {
    width: 22px;
    height: 16px;
    transition: all 300ms ease-in-out;
    background-size: 22px 16px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjMiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAyMyAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGQ9Ik0xNC41IDhDMTYuNzEgOCAxOC41IDYuMjEgMTguNSA0QzE4LjUgMS43OSAxNi43MSAwIDE0LjUgMEMxMi4yOSAwIDEwLjUgMS43OSAxMC41IDRDMTAuNSA2LjIxIDEyLjI5IDggMTQuNSA4Wk01LjUgNlYzSDMuNVY2SDAuNVY4SDMuNVYxMUg1LjVWOEg4LjVWNkg1LjVaTTE0LjUgMTBDMTEuODMgMTAgNi41IDExLjM0IDYuNSAxNFYxNkgyMi41VjE0QzIyLjUgMTEuMzQgMTcuMTcgMTAgMTQuNSAxMFoiIGZpbGw9IiM5ODczRkYiLz4NCjwvc3ZnPg0K")
}

.main-btn:hover .icon-add-client {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjMiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAyMyAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGQ9Ik0xNC41IDhDMTYuNzEgOCAxOC41IDYuMjEgMTguNSA0QzE4LjUgMS43OSAxNi43MSAwIDE0LjUgMEMxMi4yOSAwIDEwLjUgMS43OSAxMC41IDRDMTAuNSA2LjIxIDEyLjI5IDggMTQuNSA4Wk01LjUgNlYzSDMuNVY2SDAuNVY4SDMuNVYxMUg1LjVWOEg4LjVWNkg1LjVaTTE0LjUgMTBDMTEuODMgMTAgNi41IDExLjM0IDYuNSAxNFYxNkgyMi41VjE0QzIyLjUgMTEuMzQgMTcuMTcgMTAgMTQuNSAxMFoiIGZpbGw9IiNmZmYiLz4NCjwvc3ZnPg0K")
}

.text-tooltip {
    position: absolute;
    top: -50%;
    left: 120%;
    background: #333;
    color: #fafafa;
    padding: 7px 14px 8px;
    opacity: 0;
    transform: translate(-51%, -125%);
    pointer-events: none;
    z-index: 1;
    white-space: nowrap;
}

.icon-tooltip {
    opacity: .7;
    transition: 200ms;
}
.icon-tooltip:hover {
    opacity: 1;
}

.icon-tooltip::before {
    content: '';
    width: 0px;
    height: 0px;
    border: 6px solid;
    border-color: transparent #333 transparent transparent;
    position:absolute;
    top: -8px;
    left: -6px;
    transform: rotate(-90deg);
    opacity: 0;
    transition: opacity 100ms;
}

.icon-tooltip:hover.icon-tooltip::before{
    opacity: 1;
}

.main-btn {
    padding: 12.5px 26.5px;
    min-width: 200px;
    white-space: nowrap;
    color: #9873FF;
    transition: 300ms;
    border-color: rgb(152, 115, 255);
}

.main-btn:hover {
    color: #fff;
    background-color: #B89EFF;
}

.main-btn:hover > span {
    fill: #fff;
}

.main-btn:active {
    color: #fff;
    background-color: #8052FF;
}

#id-client-field {
    position: absolute;
    border: none;
    resize: none;
    left: -513%;
    z-index: -99;
    opacity: 0;
    pointer-events: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.lds-ring {
    display: inline-block;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    z-index: 1000;
    transform: translate(-50%, -50%);
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #9873FF;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #9873FF transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.id-client > div {
    font-size: 12px;
    line-height: 16px;
    color: #B0B0B0;
}

td > div  > span,
td > div {
    font-size: 14px;
    line-height: 19px;
}

.validation {
    display: block;
    color: red;
    text-align: center;
    margin-bottom: 30px;
}

th {
    padding:0!important;
}

.table-header-wrap,
.table-header-btn {
    width: 100%;
    padding: 0 0 8px 0;
    outline: none !important;
    border: none;
    background-color: transparent;
    color: #B0B0B0;
    font-size: 12px;
    line-height: 16px;
}

.table-header-btn:hover,
.table-header-btn:focus {
    color: #9873FF;
}

.highlight-sort {
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: gold;
}

.table-row {
    height: 66px;
    text-align: center;
    transition: 150ms;
}

.table-row:hover {
    -webkit-box-shadow: 0px 2px 8px -1px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 2px 8px -1px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 2px 8px -1px rgba(34, 60, 80, 0.2);
}

.btn-delete > span,
.btn-edit > span {
    transition: 300ms;
}

.btn-delete:hover > span,
.btn-edit:hover > span {
    transform: scale(1.1);
}

.btn-edit,
.btn-delete {
    transition: color 300ms ease-in;
}

.btn-edit:hover {
    color: #9873FF;
}

.btn-delete:hover {
    color: #F06A4D;
}

.btn-delete-contact {
    padding: 0;
    transition: 300ms;
}

.btn-delete-contact:active,
.btn-delete-contact:focus,
.btn-delete-contact:hover {
    border-color: #F06A4D;
}

.icon-delete-contact {
    min-height: 37px;
    width: 16px;
    height: 16px;
    padding: 13px 8px;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 300ms ease-in;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGQ9Ik04IDJDNC42ODIgMiAyIDQuNjgyIDIgOEMyIDExLjMxOCA0LjY4MiAxNCA4IDE0QzExLjMxOCAxNCAxNCAxMS4zMTggMTQgOEMxNCA0LjY4MiAxMS4zMTggMiA4IDJaTTggMTIuOEM1LjM1NCAxMi44IDMuMiAxMC42NDYgMy4yIDhDMy4yIDUuMzU0IDUuMzU0IDMuMiA4IDMuMkMxMC42NDYgMy4yIDEyLjggNS4zNTQgMTIuOCA4QzEyLjggMTAuNjQ2IDEwLjY0NiAxMi44IDggMTIuOFpNMTAuMTU0IDVMOCA3LjE1NEw1Ljg0NiA1TDUgNS44NDZMNy4xNTQgOEw1IDEwLjE1NEw1Ljg0NiAxMUw4IDguODQ2TDEwLjE1NCAxMUwxMSAxMC4xNTRMOC44NDYgOEwxMSA1Ljg0NkwxMC4xNTQgNVoiIGZpbGw9IiNCMEIwQjAiLz4NCjwvc3ZnPg0K")
}

.btn-delete-contact:hover span {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGQ9Ik04IDJDNC42ODIgMiAyIDQuNjgyIDIgOEMyIDExLjMxOCA0LjY4MiAxNCA4IDE0QzExLjMxOCAxNCAxNCAxMS4zMTggMTQgOEMxNCA0LjY4MiAxMS4zMTggMiA4IDJaTTggMTIuOEM1LjM1NCAxMi44IDMuMiAxMC42NDYgMy4yIDhDMy4yIDUuMzU0IDUuMzU0IDMuMiA4IDMuMkMxMC42NDYgMy4yIDEyLjggNS4zNTQgMTIuOCA4QzEyLjggMTAuNjQ2IDEwLjY0NiAxMi44IDggMTIuOFpNMTAuMTU0IDVMOCA3LjE1NEw1Ljg0NiA1TDUgNS44NDZMNy4xNTQgOEw1IDEwLjE1NEw1Ljg0NiAxMUw4IDguODQ2TDEwLjE1NCAxMUwxMSAxMC4xNTRMOC44NDYgOEwxMSA1Ljg0NkwxMC4xNTQgNVoiIGZpbGw9IiNGMDZBNEQiLz4NCjwvc3ZnPg0K")
}

.hide {
    display: none!important;
}

.tooltip-copy-wrapper {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    padding-left: 20px;
    top: 62%;
    right: -40px;
    transform: translateY(calc(-50% - 7px));
}

.tooltip-copy-message {
    position: absolute;
    top: 26px;
    left: -71px;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease;
}
.tooltip-copy-message.click {
    opacity: 1;
    visibility: visible;
}

.tooltip-icon-copy {
    width: 30px;
    height: 30px;
    background: url("./assets/img/copy-icon.svg") center /16px no-repeat;
    display: block;
    transition: all 300ms ease-in-out;
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
}

.tooltip-icon-copy:hover {
    transform: scale(1.1) !important;
}

.table-row:hover td:last-child div:last-child span:first-child  {
    transform: translateX(0%);
    opacity: 1;
    visibility: visible;
}

.icon-add-contact {
    width: 15px;
    height: 15px;
    left: 30%;
}
@media (max-width: 856px) {
    .tooltip-copy-wrapper {
        top: 23px;
        right: 0;
    }
    .tooltip-copy-message {
        top: 58px;
        left: -33px;
    }
}

@media (max-width: 828px) {
    .container {
        max-width: 100% !important;
    }
}

@media (max-width: 728px) {
    .col {
        padding-left: 10px;
        padding-right: 10px;
    }
    .main-btn {
        position: fixed;
        left: 50%;
        bottom: 30px;
        transform: translateX(-50%);
    }
}


/*стили формы в модалке при редактировании/добавлении*/

#form-client {
    width: 450px;
}

/* Media стили формы в модалке при редактировании/добавлении */
@media (max-width: 475px) {
    #form-client {
        width: 300px;
    }
    .icon-add-contact {
        left: 15%;
    }
    .btn-close-modal {
        top: 5%;
        right: 10% !important;
        transform: scale(1.5);
    }
}
/*end*/


@media (max-width: 320px) {
    h2 {
        font-size: 18px;
    }

    #form-client {
        padding: 24px 15px 25px !important;
    }
    button {
        font-size: 12px!important;
    }
    .btn.text-left {
        width: 110px !important;
    }
    .icon-add-contact {
        left: 65px;
    }
}
