* {
    font-size: 14px;
    line-height: 16px;
}
input {
    outline: none;
}
ul {
    margin: revert;
    list-style: none;
    padding: 0;
}
.input-search::-webkit-input-placeholder {
    color: #B0B0B0;
}
#app {
    background: #f5f5f5;
    min-height: 100vh;
}
.table thead th {
    border-top: none;
    border-bottom: none;
}

.icon__contact {
    transition: 0.34s linear;
    position: relative;
}

.text-tooltip {
    position: absolute;
    top: -50%;
    left: 120%;
    background: #5B46A9;
    color: #fafafa;
    padding: 6px 10px 10px 10px;
    border-radius: 6px;
    opacity: 0;
    transform: translate(-48%, -125%);
    transition: 300ms;
}

.lds-ring {
    display: inline-block;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    z-index: 1000;
    transform: translate(-50%, -50%);
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #9873FF;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #9873FF transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
